div{
	margin: 20px auto;
	width: 300px;
	height: 200px;
	border: 1px solid #3a33d1;
	position: relative;
}
.main-blk2__inner{
	width: 30px;
	height: 30px;
	background-color: chocolate;
	margin-left: 0;
	margin-top: 0;
	transform: rotate(0deg);
}
h2,
h3{
	text-align: center;
}
input{
	margin: 10px 20px;
	position: absolute ;
	bottom: 0;
	left: 50px;
	border: 1px solid #990518;
}
