h1,h2 {
	margin: 10px auto;
	text-align: center;
}
div {
	padding: 10px 10px;
	margin: 20px auto;
	width: 400px;
	border: 1px solid darkgreen;
	border-radius: 10px;
	background-color: bisque;
}
#btn3,
#user-num1,
#user-num2,
#user-day,
#user-mon,
#user-year{
	display: block;
}
input{
	margin-left: 15px;
}