div{
	margin: 20px 20px;
}
input{
	border: 1px solid red;
}
body{
	background-color: bisque;
	color: #000;
	font-size: 14px;
}
hr{
	border: 1px solid #009999;
}
#block5{
	margin: 20px auto;
	border: 3px solid #18ff7c;
	border-radius: 20px;
	background-color: rgb(0,0,0);
	width: 200px;
	height: 100px;
}
